@import "../../styles/utils";
@import "../../styles/vars";
@import "../../styles/font-styles";

.postContainer {
  list-style: none;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;
  margin-top: $mobileTop;

  @include from(800px) {
    max-width: $maxContentWidth;
    margin: 0 auto;
    margin-top: $desktopTop;
    padding-left: $desktopPadding;
    padding-right: $desktopPadding;
  }

  position: relative;
  text-decoration: none;
  color: var(--highEmphasis);
}

.postContents {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;

  @include from(800px) {
    margin-left: 160px;
    margin-right: 160px;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  color: var(--highEmpasis);

  // We should not have H1 in blog posts

  h2 {
    @include headline_02_mobile();
    margin: 1rem 0;

    @include forDesktop() {
      @include headline_02();
      margin: 1rem 0;
    }
  }

  h3 {
    @include headline_03_mobile();
    margin: 1rem 0;

    @include forDesktop() {
      @include headline_03();
      margin: 1rem 0;
    }
  }

  h4 {
    @include headline_04_mobile();
    margin: 1rem 0;

    @include forDesktop() {
      @include headline_04();
      margin: 1rem 0;
    }
  }

  h5 {
    @include headline_05_mobile();
    margin: 1rem 0;

    @include forDesktop() {
      @include headline_05();
      margin: 1rem 0;
    }
  }

  h6 {
    @include headline_06();
  }

  p, li {
    @include body_01();
    margin: 1rem 0;
  }

  blockquote {
    position: relative;
    margin-left: 1em;
    color: var(--mediumEmphasis);

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 3px;
      background: var(--primary);
      left: -1em;
    }

  }
}

.postContainer:not(:last-child) > .postContents {
  border-bottom: 1px solid var(--on_surface_01);
}

.postTitle {
  @include headline_01_mobile();

  @include from(800px) {
    @include headline_01();
  }
}

.date {
  @include caption_01();
  order: -1;
  color: var(--mediumEmphasis);
  margin-bottom: 8px;

  > br {
    display: none;
  }

  @include from(800px) {
    color: var(--highEmphasis);
    order: 0;
    margin-bottom: 0px;
    position: absolute;
    top: 56px;
    left: 0;
    min-width: 120px;
    text-align: center;
    > br {
      display: initial;
    }
    @include overline_01();
    text-transform: uppercase;
  }

  .day {
    @include from(800px) {
      @include headline_05();
    }
  }
}
