---
import RightArrow from "../../../assets/icons/right_arrow.astro";
import ObButton from "../../buttons/ob-button.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
const isContact = Astro.url.pathname.includes("contact");
---

<div class={`rightArea ${className}`}>
  {
    isContact ? null : (
      <ObButton href="/contact">
        <span style="padding-left: 6px">Book a call</span>
        <RightArrow />
      </ObButton>
    )
  }
</div>
