---
import Header from "../../components/header/header.astro";
import Document from "../../layouts/document.astro";
import Hero from "./sections/hero/hero.astro";
import ClientLogos from "./sections/client-logos/client-logos.astro";
---

<Document>
  <Header />
  <main>
    <Hero />
    <ClientLogos />
    <div style="margin-bottom: 150rem"></div>
  </main>
</Document>
