<div class="barContainer">
  <div class="bar dark"></div>
  <div class="bar light"></div>
  <div class="bar pinstripes"></div>
</div>

<style>
  .barContainer {
    flex-grow: 1;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-lg, 12px);
    align-self: stretch;
  }

  .bar {
    border-radius: var(--radius-xs, 4px);
    box-shadow:
      0px 15px 6px 0px rgba(245, 250, 255, 0.02),
      0px 8px 5px 0px rgba(245, 250, 255, 0.08),
      0px 4px 4px 0px rgba(245, 250, 255, 0.14),
      0px 1px 2px 0px rgba(245, 250, 255, 0.16),
      0px 2px 5px 0px rgba(148, 209, 255, 0.4);
    height: 24px;
  }

  .dark {
    background: var(--colors-brand-500, #0098ff);
    flex-grow: 1;
    width: 1px;
  }

  .light {
    background: #48d8ff;
    width: 47px;
  }

  .pinstripes {
    width: 81px;
    background-image: url("/pinstripe_horiz_repeat.svg");
    background-size: cover;
    background-repeat: repeat-x;
  }
</style>
