<div id="user-satisfaction-container">
  <svg
    width="234"
    height="134"
    viewBox="0 0 234 134"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="pointer-events: none"
  >
    <mask
      id="mask0_14226_6993"
      style="mask-type:alpha"
      maskUnits="userSpaceOnUse"
      x="7"
      y="2"
      width="220"
      height="110"
    >
      <rect
        width="219"
        height="110"
        transform="translate(7.5 2)"
        fill="url(#paint0_linear_14226_6993)"></rect>
    </mask>
    <g mask="url(#mask0_14226_6993)">
      <path
        opacity="0.2"
        d="M53.5019 60.3514L7.5 112L226.5 112L226.5 2L176.492 34.6811C170.023 38.9088 162.555 41.3581 154.838 41.7826L83.9421 45.6825C72.2474 46.3258 61.2918 51.6052 53.5019 60.3514Z"
        fill="#0091F3"></path>
    </g>
    <g filter="url(#filter0_dddd_14226_6993)">
      <path
        id="user-satisfaction-line-path"
        d="M7.5 112L53.5019 60.3514C61.2918 51.6052 72.2474 46.3258 83.9421 45.6825L154.838 41.7826C162.555 41.3581 170.023 38.9088 176.492 34.6811L226.5 2"
        stroke="#0098FF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M7.5 112L53.5019 60.3514C61.2918 51.6052 72.2474 46.3258 83.9421 45.6825L154.838 41.7826C162.555 41.3581 170.023 38.9088 176.492 34.6811L226.5 2"
        stroke="url(#paint1_linear_14226_6993)"
        stroke-opacity="0.8"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <defs>
      <filter
        id="filter0_dddd_14226_6993"
        x="0.5"
        y="0"
        width="233"
        height="134"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="1"></feOffset>
        <feGaussianBlur stdDeviation="1"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.0823529 0 0 0 0 0.439216 0 0 0 0 0.937255 0 0 0 0.16 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_14226_6993"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.0823529 0 0 0 0 0.439216 0 0 0 0 0.937255 0 0 0 0.14 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_14226_6993"
          result="effect2_dropShadow_14226_6993"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="8"></feOffset>
        <feGaussianBlur stdDeviation="2.5"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.0823529 0 0 0 0 0.439216 0 0 0 0 0.937255 0 0 0 0.08 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_14226_6993"
          result="effect3_dropShadow_14226_6993"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="15"></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.0823529 0 0 0 0 0.439216 0 0 0 0 0.937255 0 0 0 0.02 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_14226_6993"
          result="effect4_dropShadow_14226_6993"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect4_dropShadow_14226_6993"
          result="shape"></feBlend>
      </filter>
      <linearGradient
        id="paint0_linear_14226_6993"
        x1="109.5"
        y1="0"
        x2="109.5"
        y2="110"
        gradientUnits="userSpaceOnUse"
      >
        <stop></stop>
        <stop offset="1" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_14226_6993"
        x1="161.5"
        y1="43.5"
        x2="227"
        y2="1.49998"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#48D8FF" stop-opacity="0"></stop>
        <stop offset="1" stop-color="#48D8FF"></stop>
      </linearGradient>
    </defs>

    <!-- The X/Y of the dot is 83 -->
    <!--  The midway width point of the upper SVG is 117 -->
    <!--  getPointAtLength(117)-->
    <!--  {x: 97.07637023925781, y: 44.959999084472656}-->
    <!--  Therefore, -83 + 97 = 14 || -83 + 45 = -38 -->
    <!--  However, `y` needs to be -7 because of radius at point 7 -->
    <!--  And then we -1 for visual centering -->
    <svg
      id="user-satisfaction-circle"
      x="14"
      y="-46"
      width="180"
      height="180"
      viewBox="0 0 180 180"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="91"
        y="0"
        width="0.5"
        height="180"
        stroke="url(#paint0_linear_14219_1065)"
        stroke-width="0.5"
        stroke-dasharray="4 4"></rect>
      <rect
        x="0"
        y="91"
        width="180"
        stroke="url(#paint1_linear_14219_1065)"
        stroke-dasharray="4 4"
        height="0.5"
        stroke-width="0.5"></rect>
      <g filter="url(#user-satis-circle)">
        <rect x="84" y="84" width="14" height="14" rx="7" fill="white"></rect>
      </g>
      <defs>
        <filter
          id="user-satis-circle"
          x="80"
          y="80"
          width="22"
          height="26"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset></feOffset>
          <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0.196078 0 0 0 0 0.380392 0 0 0 0.16 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_14219_1065"></feBlend>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="2"></feOffset>
          <feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0.196078 0 0 0 0 0.380392 0 0 0 0.14 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="effect1_dropShadow_14219_1065"
            result="effect2_dropShadow_14219_1065"></feBlend>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="4"></feOffset>
          <feGaussianBlur stdDeviation="2"></feGaussianBlur>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0.196078 0 0 0 0 0.380392 0 0 0 0.08 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="effect2_dropShadow_14219_1065"
            result="effect3_dropShadow_14219_1065"></feBlend>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="7"></feOffset>
          <feGaussianBlur stdDeviation="2"></feGaussianBlur>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0.196078 0 0 0 0 0.380392 0 0 0 0.02 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="effect3_dropShadow_14219_1065"
            result="effect4_dropShadow_14219_1065"></feBlend>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feMorphology
            radius="1"
            operator="dilate"
            in="SourceAlpha"
            result="effect5_dropShadow_14219_1065"></feMorphology>
          <feOffset></feOffset>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0.596078 0 0 0 0 1 0 0 0 0.08 0"
          ></feColorMatrix>
          <feBlend
            mode="normal"
            in2="effect4_dropShadow_14219_1065"
            result="effect5_dropShadow_14219_1065"></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect5_dropShadow_14219_1065"
            result="shape"></feBlend>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="-1"></feOffset>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
          ></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0"></feColorMatrix>
          <feBlend
            mode="normal"
            in2="shape"
            result="effect6_innerShadow_14219_1065"></feBlend>
        </filter>
        <linearGradient
          id="paint0_linear_14219_1065"
          x1="0"
          y1="0"
          x2="180"
          y2="180"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#E3E8EF" stop-opacity="0"></stop>
          <stop offset="0.040804" stop-color="#E3E8EF" stop-opacity="0.2"
          ></stop>
          <stop offset="0.344454" stop-color="#9AA4B2"></stop>
          <stop offset="0.706992" stop-color="#E3E8EF" stop-opacity="0.2"
          ></stop>
          <stop offset="1" stop-color="#E3E8EF" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_14219_1065"
          x1="0"
          y1="0"
          x2="180"
          y2="180"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.120742" stop-color="#E3E8EF" stop-opacity="0"></stop>
          <stop offset="0.192922" stop-color="#E3E8EF" stop-opacity="0.2"
          ></stop>
          <stop offset="0.382484" stop-color="#9AA4B2"></stop>
          <stop offset="0.883366" stop-color="#E3E8EF" stop-opacity="0.2"
          ></stop>
          <stop offset="1" stop-color="#E3E8EF" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </svg>
</div>
<script>
  const svgWidth = 234;
  const min = svgWidth / 2;
  const max = svgWidth + 1;
  const container = document.getElementById(
    "user-satisfaction-container",
  ) as HTMLDivElement;
  const linePath = document.getElementById(
    "user-satisfaction-line-path",
  ) as never as SVGGeometryElement;
  const circle = document.getElementById(
    "user-satisfaction-circle",
  ) as never as SVGElement;
  // linePath.getPointAtLength(num) gets the x/y of the path at a certain length
  // On mouseover, animate the circle to getPointAtLength(max) using rAF
  // On mouseout, animate the circle to getPointAtLength(min)
  // Animate the movement by 300ms
  container.addEventListener("mouseover", () => {
    let x = min;
    const startTime = performance.now();
    const animate = () => {
      const currentTime = performance.now();
      const elapsedTime = currentTime - startTime;
      const progress = elapsedTime / 300;
      x = min + (max - min) * progress;
      const { x: newX, y: newY } = linePath.getPointAtLength(x);
      circle.setAttribute("x", `${newX - 83}`);
      circle.setAttribute("y", `${newY - 83 - 7 - 1}`);
      if (progress < 1) {
        requestAnimationFrame(animate);
      }
    };
    animate();
  });

  container.addEventListener("mouseout", () => {
    let x = max;
    const startTime = performance.now();
    const animate = () => {
      const currentTime = performance.now();
      const elapsedTime = currentTime - startTime;
      const progress = elapsedTime / 300;
      x = max - (max - min) * progress;
      const { x: newX, y: newY } = linePath.getPointAtLength(x);
      circle.setAttribute("x", `${newX - 83}`);
      circle.setAttribute("y", `${newY - 83 - 7 - 1}`);
      if (progress < 1) {
        requestAnimationFrame(animate);
      }
    };
    animate();
  });
</script>

<style is:global>
  #user-satisfaction-circle {
    transition: all;
  }
</style>
