.labelsAndSvgGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

.svg {
  width: 100%;
  height: fit-content;
}

.gridPercentages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: var(--spacing-3xl);
}

.gridPercent {
  text-align: right;
}

.monthLabelContainer {
  grid-column: 1 / 3;
}

.monthLabel {
  text-align: center;
}

.gridPercent,
.monthLabel {
  margin: 0;
  color: var(--colors-label-label-secondary-500, #697586);
  /* Text xs/Normal */
  font-family: var(--family-body, "Geist variable");
  font-size: var(--size-text-xs, 0.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-text-xs, 1.125rem); /* 150% */
}
