@import "../../styles/utils";
@import "../../styles/vars";
@import "../../styles/font-styles";

.screenContainer {
  max-height: 440px;
  max-width: 240px;
  position: relative;
  border-radius: 20px;
  background: var(--base);

  overflow: hidden;
  border: 8px #8AB0FC solid;

  @include forDesktop() {
    border-radius: 40px;
  }

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (11 / 6) * 100%;
  }
}

.screenImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: top center;
}
