:global {

  @font-face {
    font-family: "Epilogue";
    src: url("/fonts/Epilogue/Epilogue-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 1 999;
  }

  @font-face {
    font-family: "Epilogue";
    font-style: italic;
    src: url("/fonts/Epilogue/Epilogue-Italic-VariableFont_wght") format("truetype-variations");
    font-weight: 1 999;
  }
}
