/* Variables  */
:root {
  --radius-none: 0rem;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-4xl: 1.5rem;
  --radius-full: 624.9375rem;
  --radius-lg: 0.625rem;
  --radius-3xl: 1.25rem;
}
