 /* Variables  */
 :root {
  --radius-none: 0.0000rem;
  --radius-xxs: 0.1250rem;
  --radius-xs: 0.2500rem;
  --radius-sm: 0.3750rem;
  --radius-md: 0.5000rem;
  --radius-xl: 0.7500rem;
  --radius-2xl: 1.0000rem;
  --radius-4xl: 1.5000rem;
  --radius-full: 624.9375rem;
  --radius-lg: 0.6250rem;
  --radius-3xl: 1.2500rem;
}
