 /* Aliases  */
 :root {
  --width-xxs: var(--spacing-80);
  --width-sm: var(--spacing-120);
  --width-lg: var(--spacing-160);
  --width-xl: var(--spacing-192);
  --width-2xl: var(--spacing-256);
  --width-3xl: var(--spacing-320);
  --width-4xl: var(--spacing-360);
  --width-5xl: var(--spacing-400);
  --width-6xl: var(--spacing-480);
  --width-md: var(--spacing-140);
  --paragraph-max-width: var(--spacing-180);
  --width-xs: var(--spacing-96);
  --width-3lg: var(--spacing-300);
}

