@import '../../styles/font-styles';

.header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.logoText {
// replace with   @extend %headline_06;
margin-left: 8px;
margin-right: 24px;
font-family: Epilogue;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
}

.hr {
    width: 1px;
    background: grey;
    height: 48px;
    display: block;
    margin: 0;
    border: none;
    outline: none;
}