@import '../../styles/font-styles';

.header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.logoText {
margin-left: 8px;
margin-right: 24px;
@extend %headline_06;
}

.hr {
    width: 1px;
    background: grey;
    height: 48px;
    display: block;
    margin: 0;
    border: none;
    outline: none;
}