@import "../variables/raw-colors";

/*https://stackoverflow.com/questions/58818299/css-variables-not-working-in-dialogbackdrop*/
:root,
::backdrop {
  --component-colors-alpha-alpha-white-90: rgba(255, 255, 255, 0.9);
  --component-colors-alpha-alpha-white-80: rgba(255, 255, 255, 0.8);
  --component-colors-alpha-alpha-white-70: rgba(255, 255, 255, 0.7);
  --component-colors-alpha-alpha-white-60: rgba(255, 255, 255, 0.6);
  --component-colors-alpha-alpha-white-50: rgba(255, 255, 255, 0.5);
  --component-colors-alpha-alpha-white-40: rgba(255, 255, 255, 0.4);
  --component-colors-alpha-alpha-white-30: rgba(255, 255, 255, 0.3);
  --component-colors-alpha-alpha-white-20: rgba(255, 255, 255, 0.2);
  --component-colors-alpha-alpha-white-10: rgba(255, 255, 255, 0.1);
  --component-colors-alpha-alpha-black-10: rgba(0, 0, 0, 0.1);
  --component-colors-alpha-alpha-black-20: rgba(0, 0, 0, 0.2);
  --component-colors-alpha-alpha-black-30: rgba(0, 0, 0, 0.3);
  --component-colors-alpha-alpha-black-40: rgba(0, 0, 0, 0.4);
  --component-colors-alpha-alpha-black-50: rgba(0, 0, 0, 0.5);
  --component-colors-alpha-alpha-black-60: rgba(0, 0, 0, 0.6);
  --component-colors-alpha-alpha-black-70: rgba(0, 0, 0, 0.7);
  --component-colors-alpha-alpha-black-80: rgba(0, 0, 0, 0.8);
  --component-colors-alpha-alpha-black-90: rgba(0, 0, 0, 0.9);
  --component-colors-alpha-alpha-black-100: rgba(0, 0, 0, 1);
  --component-colors-alpha-alpha-white-100: rgba(255, 255, 255, 1);

  --component-colors-utility-blue-dark-utility-blue-dark-600: #{$colors-blue-dark-600};
  --component-colors-utility-blue-dark-utility-blue-dark-700: #{$colors-blue-dark-700};
  --component-colors-utility-blue-dark-utility-blue-dark-500: #{$colors-blue-dark-500};
  --component-colors-utility-blue-dark-utility-blue-dark-200: #{$colors-blue-dark-200};
  --component-colors-utility-blue-dark-utility-blue-dark-50: #{$colors-blue-dark-50};
  --component-colors-utility-blue-dark-utility-blue-dark-100: #{$colors-blue-dark-100};
  --component-colors-utility-blue-dark-utility-blue-dark-400: #{$colors-blue-dark-400};
  --component-colors-utility-blue-dark-utility-blue-dark-300: #{$colors-blue-dark-300};

  --component-colors-utility-blue-light-utility-blue-light-600: #{$colors-blue-light-600};
  --component-colors-utility-blue-light-utility-blue-light-700: #{$colors-blue-light-700};
  --component-colors-utility-blue-light-utility-blue-light-500: #{$colors-blue-light-500};
  --component-colors-utility-blue-light-utility-blue-light-200: #{$colors-blue-light-200};
  --component-colors-utility-blue-light-utility-blue-light-50: #{$colors-blue-light-50};
  --component-colors-utility-blue-light-utility-blue-light-100: #{$colors-blue-light-100};
  --component-colors-utility-blue-light-utility-blue-light-400: #{$colors-blue-light-400};
  --component-colors-utility-blue-light-utility-blue-light-300: #{$colors-blue-light-300};

  --component-colors-utility-blue-utility-blue-600: #{$colors-blue-600};
  --component-colors-utility-blue-utility-blue-700: #{$colors-blue-700};
  --component-colors-utility-blue-utility-blue-500: #{$colors-blue-500};
  --component-colors-utility-blue-utility-blue-200: #{$colors-blue-200};
  --component-colors-utility-blue-utility-blue-50: #{$colors-blue-50};
  --component-colors-utility-blue-utility-blue-100: #{$colors-blue-100};
  --component-colors-utility-blue-utility-blue-400: #{$colors-blue-400};
  --component-colors-utility-blue-utility-blue-300: #{$colors-blue-300};

  --component-colors-utility-brand-utility-brand-600: #{$colors-brand-600};
  --component-colors-utility-brand-utility-brand-700: #{$colors-brand-700};
  --component-colors-utility-brand-utility-brand-500: #{$colors-brand-500};
  --component-colors-utility-brand-utility-brand-200: #{$colors-brand-200};
  --component-colors-utility-brand-utility-brand-50: #{$colors-brand-50};
  --component-colors-utility-brand-utility-brand-100: #{$colors-brand-100};
  --component-colors-utility-brand-utility-brand-400: #{$colors-brand-400};
  --component-colors-utility-brand-utility-brand-50_alt: #{$colors-brand-50};
  --component-colors-utility-brand-utility-brand-100_alt: #{$colors-brand-100};
  --component-colors-utility-brand-utility-brand-200_alt: #{$colors-brand-200};
  --component-colors-utility-brand-utility-brand-400_alt: #{$colors-brand-400};
  --component-colors-utility-brand-utility-brand-500_alt: #{$colors-brand-500};
  --component-colors-utility-brand-utility-brand-600_alt: #{$colors-brand-600};
  --component-colors-utility-brand-utility-brand-700_alt: #{$colors-brand-700};
  --component-colors-utility-brand-utility-brand-300: #{$colors-brand-300};
  --component-colors-utility-brand-utility-brand-900: #{$colors-brand-900};
  --component-colors-utility-brand-utility-brand-800: #{$colors-brand-800};
  --component-colors-utility-brand-utility-brand-300_alt: #{$colors-brand-300};
  --component-colors-utility-brand-utility-brand-800_alt: #{$colors-brand-800};
  --component-colors-utility-brand-utility-brand-900_alt: #{$colors-brand-900};

  --component-colors-utility-cyan-utility-cyan-50: #{$colors-cyan-50};
  --component-colors-utility-cyan-utility-cyan-100: #{$colors-cyan-100};
  --component-colors-utility-cyan-utility-cyan-200: #{$colors-cyan-200};
  --component-colors-utility-cyan-utility-cyan-300: #{$colors-cyan-300};
  --component-colors-utility-cyan-utility-cyan-400: #{$colors-cyan-400};
  --component-colors-utility-cyan-utility-cyan-500: #{$colors-cyan-500};
  --component-colors-utility-cyan-utility-cyan-600: #{$colors-cyan-600};
  --component-colors-utility-cyan-utility-cyan-700: #{$colors-cyan-700};

  --component-colors-utility-error-utility-error-600: #{$colors-error-600};
  --component-colors-utility-error-utility-error-700: #{$colors-error-700};
  --component-colors-utility-error-utility-error-500: #{$colors-error-500};
  --component-colors-utility-error-utility-error-200: #{$colors-error-200};
  --component-colors-utility-error-utility-error-50: #{$colors-error-50};
  --component-colors-utility-error-utility-error-100: #{$colors-error-100};
  --component-colors-utility-error-utility-error-400: #{$colors-error-400};
  --component-colors-utility-error-utility-error-300: #{$colors-error-300};

  --component-colors-utility-fuchsia-utility-fuchsia-600: #{$colors-fuchsia-600};
  --component-colors-utility-fuchsia-utility-fuchsia-700: #{$colors-fuchsia-700};
  --component-colors-utility-fuchsia-utility-fuchsia-500: #{$colors-fuchsia-500};
  --component-colors-utility-fuchsia-utility-fuchsia-200: #{$colors-fuchsia-200};
  --component-colors-utility-fuchsia-utility-fuchsia-50: #{$colors-fuchsia-50};
  --component-colors-utility-fuchsia-utility-fuchsia-100: #{$colors-fuchsia-100};
  --component-colors-utility-fuchsia-utility-fuchsia-400: #{$colors-fuchsia-400};
  --component-colors-utility-fuchsia-utility-fuchsia-300: #{$colors-fuchsia-300};

  --component-colors-utility-gray-blue-utility-gray-blue-600: #{$colors-gray-blue-600};
  --component-colors-utility-gray-blue-utility-gray-blue-700: #{$colors-gray-blue-700};
  --component-colors-utility-gray-blue-utility-gray-blue-500: #{$colors-gray-blue-500};
  --component-colors-utility-gray-blue-utility-gray-blue-200: #{$colors-gray-blue-200};
  --component-colors-utility-gray-blue-utility-gray-blue-50: #{$colors-gray-blue-50};
  --component-colors-utility-gray-blue-utility-gray-blue-100: #{$colors-gray-blue-100};
  --component-colors-utility-gray-blue-utility-gray-blue-400: #{$colors-gray-blue-400};
  --component-colors-utility-gray-blue-utility-gray-blue-300: #{$colors-gray-blue-300};

  --component-colors-utility-gray-utility-gray-700: #{$colors-gray__light-mode-700};
  --component-colors-utility-gray-utility-gray-600: #{$colors-gray__light-mode-600};
  --component-colors-utility-gray-utility-gray-500: #{$colors-gray__light-mode-500};
  --component-colors-utility-gray-utility-gray-200: #{$colors-gray__light-mode-200};
  --component-colors-utility-gray-utility-gray-50: #{$colors-gray__light-mode-50};
  --component-colors-utility-gray-utility-gray-100: #{$colors-gray__light-mode-100};
  --component-colors-utility-gray-utility-gray-400: #{$colors-gray__light-mode-400};
  --component-colors-utility-gray-utility-gray-300: #{$colors-gray__light-mode-300};
  --component-colors-utility-gray-utility-gray-900: #{$colors-gray__light-mode-900};
  --component-colors-utility-gray-utility-gray-800: #{$colors-gray__light-mode-800};

  --component-colors-utility-indigo-utility-indigo-600: #{$colors-indigo-600};
  --component-colors-utility-indigo-utility-indigo-700: #{$colors-indigo-700};
  --component-colors-utility-indigo-utility-indigo-500: #{$colors-indigo-500};
  --component-colors-utility-indigo-utility-indigo-200: #{$colors-indigo-200};
  --component-colors-utility-indigo-utility-indigo-50: #{$colors-indigo-50};
  --component-colors-utility-indigo-utility-indigo-100: #{$colors-indigo-100};
  --component-colors-utility-indigo-utility-indigo-400: #{$colors-indigo-400};
  --component-colors-utility-indigo-utility-indigo-300: #{$colors-indigo-300};

  --component-colors-utility-orange-dark-utility-orange-dark-600: #{$colors-orange-dark-600};
  --component-colors-utility-orange-dark-utility-orange-dark-700: #{$colors-orange-dark-700};
  --component-colors-utility-orange-dark-utility-orange-dark-500: #{$colors-orange-dark-500};
  --component-colors-utility-orange-dark-utility-orange-dark-200: #{$colors-orange-dark-200};
  --component-colors-utility-orange-dark-utility-orange-dark-50: #{$colors-orange-dark-50};
  --component-colors-utility-orange-dark-utility-orange-dark-100: #{$colors-orange-dark-100};
  --component-colors-utility-orange-dark-utility-orange-dark-400: #{$colors-orange-dark-400};
  --component-colors-utility-orange-dark-utility-orange-dark-300: #{$colors-orange-dark-300};

  --component-colors-utility-orange-utility-orange-600: #{$colors-orange-600};
  --component-colors-utility-orange-utility-orange-700: #{$colors-orange-700};
  --component-colors-utility-orange-utility-orange-500: #{$colors-orange-500};
  --component-colors-utility-orange-utility-orange-200: #{$colors-orange-200};
  --component-colors-utility-orange-utility-orange-50: #{$colors-orange-50};
  --component-colors-utility-orange-utility-orange-100: #{$colors-orange-100};
  --component-colors-utility-orange-utility-orange-400: #{$colors-orange-400};
  --component-colors-utility-orange-utility-orange-300: #{$colors-orange-300};

  --component-colors-utility-pink-utility-pink-600: #{$colors-pink-600};
  --component-colors-utility-pink-utility-pink-700: #{$colors-pink-700};
  --component-colors-utility-pink-utility-pink-500: #{$colors-pink-500};
  --component-colors-utility-pink-utility-pink-200: #{$colors-pink-200};
  --component-colors-utility-pink-utility-pink-50: #{$colors-pink-50};
  --component-colors-utility-pink-utility-pink-100: #{$colors-pink-100};
  --component-colors-utility-pink-utility-pink-400: #{$colors-pink-400};
  --component-colors-utility-pink-utility-pink-300: #{$colors-pink-300};

  --component-colors-utility-purple-utility-purple-600: #{$colors-purple-600};
  --component-colors-utility-purple-utility-purple-700: #{$colors-purple-700};
  --component-colors-utility-purple-utility-purple-500: #{$colors-purple-500};
  --component-colors-utility-purple-utility-purple-200: #{$colors-purple-200};
  --component-colors-utility-purple-utility-purple-50: #{$colors-purple-50};
  --component-colors-utility-purple-utility-purple-100: #{$colors-purple-100};
  --component-colors-utility-purple-utility-purple-400: #{$colors-purple-400};
  --component-colors-utility-purple-utility-purple-300: #{$colors-purple-300};

  --component-colors-utility-sky-utility-sky-50: #{$colors-sky-50};
  --component-colors-utility-sky-utility-sky-100: #{$colors-sky-100};
  --component-colors-utility-sky-utility-sky-200: #{$colors-sky-200};
  --component-colors-utility-sky-utility-sky-300: #{$colors-sky-300};
  --component-colors-utility-sky-utility-sky-400: #{$colors-sky-400};
  --component-colors-utility-sky-utility-sky-500: #{$colors-sky-500};
  --component-colors-utility-sky-utility-sky-600: #{$colors-sky-600};
  --component-colors-utility-sky-utility-sky-700: #{$colors-sky-700};

  --component-colors-utility-success-utility-success-600: #{$colors-success-600};
  --component-colors-utility-success-utility-success-700: #{$colors-success-700};
  --component-colors-utility-success-utility-success-500: #{$colors-success-500};
  --component-colors-utility-success-utility-success-200: #{$colors-success-200};
  --component-colors-utility-success-utility-success-50: #{$colors-success-50};
  --component-colors-utility-success-utility-success-100: #{$colors-success-100};
  --component-colors-utility-success-utility-success-400: #{$colors-success-400};
  --component-colors-utility-success-utility-success-300: #{$colors-success-300};

  --component-colors-utility-teal-utility-teal-50: #{$colors-teal-50};
  --component-colors-utility-teal-utility-teal-100: #{$colors-teal-100};
  --component-colors-utility-teal-utility-teal-200: #{$colors-teal-200};
  --component-colors-utility-teal-utility-teal-300: #{$colors-teal-300};
  --component-colors-utility-teal-utility-teal-400: #{$colors-teal-400};
  --component-colors-utility-teal-utility-teal-500: #{$colors-teal-500};
  --component-colors-utility-teal-utility-teal-600: #{$colors-teal-600};
  --component-colors-utility-teal-utility-teal-700: #{$colors-teal-700};

  --component-colors-utility-warning-utility-warning-600: #{$colors-warning-600};
  --component-colors-utility-warning-utility-warning-700: #{$colors-warning-700};
  --component-colors-utility-warning-utility-warning-500: #{$colors-warning-500};
  --component-colors-utility-warning-utility-warning-200: #{$colors-warning-200};
  --component-colors-utility-warning-utility-warning-50: #{$colors-warning-50};
  --component-colors-utility-warning-utility-warning-100: #{$colors-warning-100};
  --component-colors-utility-warning-utility-warning-400: #{$colors-warning-400};
  --component-colors-utility-warning-utility-warning-300: #{$colors-warning-300};

  --component-colors-components-app-store-badges-app-store-badge-border: rgba(
    166,
    166,
    166,
    1
  );

  --component-colors-components-application-navigation-nav-item-icon-fg: #{$colors-gray__light-mode-500};
  --component-colors-components-application-navigation-nav-item-icon-fg_active: #{$colors-gray__light-mode-500};
  --component-colors-components-application-navigation-nav-item-button-icon-fg: #{$colors-gray__light-mode-500};
  --component-colors-components-application-navigation-nav-item-button-icon-fg_active: #{$colors-gray__light-mode-700};

  --component-colors-components-avatars-avatar-contrast-border: rgba(
    0,
    0,
    0,
    0.08
  );
  --component-colors-components-avatars-avatar-focus-border: rgba(
    152,
    162,
    179,
    0.14
  );

  --component-colors-components-avatars-avatar-profile-photo-border: #{$colors-base-white};
  --component-colors-components-avatars-avatar-bg: #{$colors-gray__light-mode-100};

  --component-colors-components-breadcrumbs-breadcrumb-fg: #{$colors-gray__light-mode-600};
  --component-colors-components-breadcrumbs-breadcrumb-fg_hover: #{$colors-gray__light-mode-700};
  --component-colors-components-breadcrumbs-breadcrumb-bg_hover: #{$colors-gray__light-mode-50};
  --component-colors-components-breadcrumbs-breadcrumb-brand-bg_hover: #{$colors-brand-50};
  --component-colors-components-breadcrumbs-breadcrumb-brand-fg_hover: #{$colors-brand-700};
  --component-colors-components-breadcrumbs-breadcrumb-icon-fg: #{$colors-gray__light-mode-500};
  --component-colors-components-breadcrumbs-breadcrumb-icon-fg_hover: #{$colors-gray__light-mode-700};
  --component-colors-components-breadcrumbs-breadcrumb-brand-icon-fg_hover: #{$colors-brand-700};

  --component-colors-components-footers-footer-button-fg: #{$colors-brand-200};
  --component-colors-components-footers-footer-button-fg_hover: #{$colors-base-white};
  --component-colors-components-footers-footer-badge-fg: #{$colors-success-700};
  --component-colors-components-footers-footer-badge-border: #{$colors-success-200};
  --component-colors-components-footers-footer-badge-bg: #{$colors-success-50};

  --component-colors-components-header-sections-header-abstract-50-bg: #{$colors-brand-50};
  --component-colors-components-header-sections-header-abstract-100-bg: #{$colors-brand-100};
  --component-colors-components-header-sections-header-abstract-200-bg: #{$colors-brand-200};
  --component-colors-components-header-sections-header-abstract-300-bg: #{$colors-brand-300};

  --component-colors-components-mockups-screen-mockup-border: #{$colors-gray__light-mode-900};

  --component-colors-components-sliders-slider-handle-border: var(
    --colors-border-border-brand-solid
  );
  --component-colors-components-sliders-slider-handle-bg: #{$colors-base-white};

  --component-colors-components-thumbnail-thumbnail-badge-brand-fg: #{$colors-brand-700};
  --component-colors-components-thumbnail-thumbnail-badge-success-fg: #{$colors-success-700};

  --component-colors-components-toggles-toggle-button-fg_disabled: #{$colors-gray__light-mode-50};

  --component-colors-components-tooltips-tooltip-supporting-text: #{$colors-gray__light-mode-300};

  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg: #{$colors-gray__light-mode-400};
  --component-colors-components-wysiwyg-editor-wysiwyg-editor-icon-fg_active: #{$colors-gray__light-mode-500};

  --component-colors-components-icons-icons-icon-fg-brand: #{$colors-brand-600};
  --component-colors-components-icons-icons-icon-fg-brand_on-brand: #{$colors-brand-200};

  --component-colors-components-icons-social-icons-social-icon-fg-x: rgba(
    36,
    46,
    54,
    1
  );
  --component-colors-components-icons-social-icons-social-icon-fg-tumblr: rgba(
    0,
    25,
    53,
    1
  );
  --component-colors-components-icons-social-icons-social-icon-fg-instagram: rgba(
    0,
    1,
    0,
    1
  );

  --component-colors-components-icons-social-icons-social-icon-fg-apple: #{$colors-base-black};
  --component-colors-components-icons-social-icons-social-icon-fg-github: #{$colors-base-black};
  --component-colors-components-icons-social-icons-social-icon-fg-angellist: #{$colors-base-black};

  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-brand: #{$colors-base-white};
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-gray: #{$colors-base-white};
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-error: #{$colors-base-white};
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-warning: #{$colors-base-white};
  --component-colors-components-icons-featured-icons-dark-featured-icon-dark-fg-success: #{$colors-base-white};

  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-brand: #{$colors-brand-600};
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-gray: #{$colors-gray__light-mode-500};
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-error: #{$colors-error-600};
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-warning: #{$colors-warning-600};
  --component-colors-components-icons-featured-icons-light-featured-icon-light-fg-success: #{$colors-success-600};

  --component-colors-components-icons-featured-icons-modern-featured-icon-modern-border: #{$colors-gray__light-mode-200};

  --component-colors-components-buttons-primary-error-button-primary-error-fg: #{$colors-base-white};
  --component-colors-components-buttons-primary-error-button-primary-error-fg_hover: #{$colors-base-white};
  --component-colors-components-buttons-primary-error-button-primary-error-bg: #{$colors-error-600};
  --component-colors-components-buttons-primary-error-button-primary-error-bg_hover: #{$colors-error-700};
  --component-colors-components-buttons-primary-error-button-primary-error-border: #{$colors-error-600};
  --component-colors-components-buttons-primary-error-button-primary-error-border_hover: #{$colors-error-700};

  --component-colors-components-buttons-primary-button-primary-bg: #{$colors-brand-500};
  --component-colors-components-buttons-primary-button-primary-bg_hover: #{$colors-brand-600};
  --component-colors-components-buttons-primary-button-primary-fg: #{$colors-base-white};
  --component-colors-components-buttons-primary-button-primary-border: #{$colors-brand-600};
  --component-colors-components-buttons-primary-button-primary-border_hover: #{$colors-brand-700};
  --component-colors-components-buttons-primary-button-primary-fg_hover: #{$colors-base-white};

  --component-colors-components-buttons-secondary-color-button-secondary-color-bg: #{$colors-base-white};
  --component-colors-components-buttons-secondary-color-button-secondary-color-bg_hover: #{$colors-brand-50};
  --component-colors-components-buttons-secondary-color-button-secondary-color-border_hover: #{$colors-brand-300};
  --component-colors-components-buttons-secondary-color-button-secondary-color-border: #{$colors-brand-300};
  --component-colors-components-buttons-secondary-color-button-secondary-color-fg: #{$colors-brand-600};
  --component-colors-components-buttons-secondary-color-button-secondary-color-fg_hover: #{$colors-brand-700};

  --component-colors-components-buttons-secondary-error-button-secondary-error-fg: #{$colors-error-700};
  --component-colors-components-buttons-secondary-error-button-secondary-error-fg_hover: #{$colors-error-800};
  --component-colors-components-buttons-secondary-error-button-secondary-error-bg: #{$colors-base-white};
  --component-colors-components-buttons-secondary-error-button-secondary-error-bg_hover: #{$colors-error-50};
  --component-colors-components-buttons-secondary-error-button-secondary-error-border: #{$colors-error-300};
  --component-colors-components-buttons-secondary-error-button-secondary-error-border_hover: #{$colors-error-300};

  --component-colors-components-buttons-secondary-button-secondary-bg: #{$colors-base-white};
  --component-colors-components-buttons-secondary-button-secondary-bg_hover: #{$colors-gray__light-mode-50};
  --component-colors-components-buttons-secondary-button-secondary-fg: #{$colors-gray__light-mode-700};
  --component-colors-components-buttons-secondary-button-secondary-fg_hover: #{$colors-gray__light-mode-800};
  --component-colors-components-buttons-secondary-button-secondary-border: #{$colors-gray__light-mode-300};
  --component-colors-components-buttons-secondary-button-secondary-border_hover: #{$colors-gray__light-mode-300};

  --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg: #{$colors-brand-500};
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg_hover: #{$colors-brand-600};
  --component-colors-components-buttons-tertiary-color-button-tertiary-color-bg_hover: #{$colors-brand-50};

  --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg: #{$colors-error-700};
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-fg_hover: #{$colors-error-800};
  --component-colors-components-buttons-tertiary-error-button-tertiary-error-bg_hover: #{$colors-error-50};

  --component-colors-components-buttons-tertiary-button-tertiary-fg: #{$colors-gray__light-mode-600};
  --component-colors-components-buttons-tertiary-button-tertiary-fg_hover: #{$colors-gray__light-mode-700};
  --component-colors-components-buttons-tertiary-button-tertiary-bg_hover: #{$colors-gray__light-mode-50};

  --colors-background-bg-primary: #{$colors-base-white};
  --colors-background-bg-tertiary: #{$colors-gray__light-mode-100};
  --colors-background-bg-brand-primary: #{$colors-brand-50};
  --colors-background-bg-error-secondary: #{$colors-error-100};
  --colors-background-bg-warning-primary: #{$colors-warning-50};
  --colors-background-bg-warning-secondary: #{$colors-warning-100};
  --colors-background-bg-success-primary: #{$colors-success-50};
  --colors-background-bg-success-secondary: #{$colors-success-100};
  --colors-background-bg-brand-solid: #{$colors-brand-600};
  --colors-background-bg-secondary-solid: #{$colors-gray__light-mode-600};
  --colors-background-bg-error-solid: #{$colors-error-600};
  --colors-background-bg-warning-solid: #{$colors-warning-600};
  --colors-background-bg-success-solid: #{$colors-success-600};
  --colors-background-bg-secondary_hover: #{$colors-gray__light-mode-100};
  --colors-background-bg-primary_hover: #{$colors-gray__light-mode-50};
  --colors-background-bg-disabled: #{$colors-gray__light-mode-100};
  --colors-background-bg-active: #{$colors-gray__light-mode-50};
  --colors-background-bg-brand-solid_hover: #{$colors-brand-700};
  --colors-background-bg-error-primary: #{$colors-error-50};
  --colors-background-bg-brand-secondary: #{$colors-brand-100};
  --colors-background-bg-secondary: #{$colors-gray__light-mode-50};
  --colors-background-bg-disabled_subtle: #{$colors-gray__light-mode-50};
  --colors-background-bg-quaternary: #{$colors-gray__light-mode-200};
  --colors-background-bg-primary_alt: #{$colors-base-white};
  --colors-background-bg-brand-primary_alt: #{$colors-brand-50};
  --colors-background-bg-secondary_alt: #{$colors-gray__light-mode-50};
  --colors-background-bg-overlay: #{$colors-gray__light-mode-950};
  --colors-background-bg-secondary_subtle: #{$colors-gray__light-mode-25};
  --colors-background-bg-brand-section: #{$colors-brand-800};
  --colors-background-bg-brand-section_subtle: #{$colors-brand-700};
  --colors-background-bg-primary-solid: #{$colors-gray__light-mode-950};

  --colors-border-border-secondary: #{$colors-gray__light-mode-200};
  --colors-border-border-error: #{$colors-error-300};
  --colors-border-border-primary: #{$colors-gray__light-mode-300};
  --colors-border-border-brand: #{$colors-brand-300};
  --colors-border-border-brand-solid: #{$colors-brand-600};
  --colors-border-border-disabled: #{$colors-gray__light-mode-300};
  --colors-border-border-error-solid: #{$colors-error-600};
  --colors-border-border-disabled_subtle: #{$colors-gray__light-mode-200};
  --colors-border-border-tertiary: #{$colors-gray__light-mode-100};
  --colors-border-border-brand-solid_alt: #{$colors-brand-600};

  --colors-foreground-fg-secondary__700: #{$colors-gray__light-mode-700};
  --colors-foreground-fg-warning-primary: #{$colors-warning-600};
  --colors-foreground-fg-success-primary: #{$colors-success-600};
  --colors-foreground-fg-white: #{$colors-base-white};
  --colors-foreground-fg-success-secondary: #{$colors-success-500};
  --colors-foreground-fg-secondary_hover: #{$colors-gray__light-mode-800};
  --colors-foreground-fg-primary__900: #{$colors-gray__light-mode-900};
  --colors-foreground-fg-disabled: #{$colors-gray__light-mode-400};
  --colors-foreground-fg-quaternary__500: #{$colors-gray__light-mode-500};
  --colors-foreground-fg-quaternary_hover: #{$colors-gray__light-mode-600};
  --colors-foreground-fg-brand-secondary__500: #{$colors-brand-500};
  --colors-foreground-fg-brand-primary__600: #{$colors-brand-600};
  --colors-foreground-fg-quinary__400: #{$colors-gray__light-mode-400};
  --colors-foreground-fg-quinary_hover: #{$colors-gray__light-mode-500};
  --colors-foreground-fg-error-primary: #{$colors-error-600};
  --colors-foreground-fg-disabled_subtle: #{$colors-gray__light-mode-300};
  --colors-foreground-fg-warning-secondary: #{$colors-warning-500};
  --colors-foreground-fg-error-secondary: #{$colors-error-500};
  --colors-foreground-fg-senary__300: #{$colors-gray__light-mode-300};
  --colors-foreground-fg-tertiary__600: #{$colors-gray__light-mode-600};
  --colors-foreground-fg-tertiary_hover: #{$colors-gray__light-mode-700};
  --colors-foreground-fg-brand-primary_alt: #{$colors-brand-600};

  --colors-label-label-primary__900: #{$colors-gray__light-mode-900};
  --colors-label-label-tertiary__400: #{$colors-gray__light-mode-400};
  --colors-label-label-error-primary__600: #{$colors-error-600};
  --colors-label-label-warning-primary__600: #{$colors-warning-600};
  --colors-label-label-success-primary__600: #{$colors-success-600};
  --colors-label-label-white: #{$colors-base-white};
  --colors-label-label-secondary__500: #{$colors-gray__light-mode-500};
  --colors-label-label-disabled: #{$colors-gray__light-mode-500};
  --colors-label-label-secondary_hover: #{$colors-gray__light-mode-600};
  --colors-label-label-tertiary_hover: #{$colors-gray__light-mode-500};
  --colors-label-label-brand-secondary__700: #{$colors-brand-700};
  --colors-label-label-placeholder: #{$colors-gray__light-mode-500};
  --colors-label-label-placeholder_subtle: #{$colors-gray__light-mode-300};
  --colors-label-label-brand-tertiary__800: #{$colors-brand-800};
  --colors-label-label-quaternary__300: #{$colors-gray__light-mode-300};
  --colors-label-label-brand-primary__600: #{$colors-brand-600};
  --colors-label-label-primary_on-brand: #{$colors-base-white};
  --colors-label-label-secondary_on-brand: #{$colors-brand-200};
  --colors-label-label-tertiary_on-brand: #{$colors-brand-200};
  --colors-label-label-quaternary_on-brand: #{$colors-brand-300};
  --colors-label-label-brand-tertiary_alt: #{$colors-brand-700};
}
