.containerCircle {
  filter: drop-shadow(0px 1px 1px rgba(24, 34, 48, 0.04))
    drop-shadow(0px 3px 3px rgba(24, 34, 48, 0.04))
    drop-shadow(0px 6px 6px rgba(24, 34, 48, 0.04))
    drop-shadow(0px 12px 12px rgba(25, 65, 133, 0.06))
    drop-shadow(0px 24px 24px rgba(25, 65, 133, 0.06));
  width: fit-content;
  height: fit-content;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  padding: var(--circle-outer-padding);
  --circle-outer-padding: 1.35rem;
  display: flex;
}

.circle {
  aspect-ratio: 1 / 1;
  display: inline-block;
  filter: url("#goo");
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.circlePart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--circle-outer-padding) solid var(--c, red);
  border-radius: 50%;
  --circle-spacing: 20px;
  --angleOne: 10%;
  --angleTwo: 50%;
  transition: clip-path 300ms ease-in-out;
}

.blue {
  transform: rotate(0deg);
  --c: #0098ff;
  clip-path: polygon(
    50% 50%,
    50% 0%,
    100% 0%,
    100% 100%,
    0 100%,
    0 var(--angleTwo)
  );
}

.red {
  transform: rotate(0deg);
  --c: #f97066;
  clip-path: polygon(
    50% 50%,
    calc(50% - calc(var(--circle-spacing) / 1.5)) 0,
    var(--angleOne) 0
  );
}

.orange {
  transform: rotate(0deg);
  --c: #fdb022;
  clip-path: polygon(
    0 0,
    calc(var(--angleOne) - var(--circle-spacing)) 0,
    50% 50%,
    0% calc(var(--angleTwo) - calc(var(--circle-spacing) / 1.5))
  );
}

.circle:hover .circlePart {
  --angleOne: 30%;
  --angleTwo: 10%;
}

.circle:hover .orange {
  clip-path: polygon(
    0 0,
    calc(var(--angleOne) - var(--circle-spacing)) 0,
    50% 50%,
    0% calc(var(--angleTwo) - var(--circle-spacing))
  );
}

.innerText {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.percentage {
  color: var(--colors-label-label-primary-900, #121926);
  margin: 0;
  margin-bottom: var(--spacing-xs);

  /* Text xl/Semibold */
  font-family: var(--family-body, "Geist variable");
  font-size: var(--size-text-xl, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height-text-xl, 1.875rem); /* 150% */
}

.innerTextLower {
  color: var(--colors-label-label-secondary-500, #697586);
  text-align: center;

  /* Text xs/Normal */
  font-family: var(--family-body, "Geist variable");
  font-size: var(--size-text-xs, 0.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-text-xs, 1.125rem); /* 150% */
}
