@use "../../../../styles/variables/raw-breakpoints";

:root {
  --mobile-illustration-height: 200px;
}

.container {
  padding: var(--spacing-4xl, 128px) 48px var(--spacing-7xl, 64px) 48px;
}

@include raw-breakpoints.until(raw-breakpoints.$tabletMin) {
  .container {
    padding: var(--spacing-2xl, 32px) var(--spacing-xl, 16px)
      var(--spacing-7xl, 64px) var(--spacing-xl, 16px);
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-8xl, 80px);
  gap: var(--spacing-4xl, 32px);
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
  border-radius: var(--radius-2xl, 16px);
  border: 1px solid var(--Colors-Border-border-tertiary, #f2f4f7);
  background: var(--Colors-Background-bg-primary, #fff);
  overflow: hidden;

  /* Shadows/shadow-lg */
  box-shadow:
    0px 1px 1px -0.5px rgba(24, 34, 48, 0.04),
    0px 3px 3px -1.5px rgba(24, 34, 48, 0.04),
    0px 6px 12px -3px rgba(24, 34, 48, 0.04),
    0px 12px 24px -4px rgba(25, 65, 133, 0.06),
    0px 24px 32px -12px rgba(25, 65, 133, 0.08);
}

@include raw-breakpoints.until(raw-breakpoints.$desktopMin) {
  .card {
    padding: 56px;
  }
}

@include raw-breakpoints.until(raw-breakpoints.$tabletMin) {
  .card {
    padding: var(--spacing-3xl, 24px);
    padding-top: var(--mobile-illustration-height);
    gap: var(--spacing-4xl, 32px);
  }
}

.textContainer {
  // :LOLSOB:
  z-index: 3;
  max-width: 50%;
}

@include raw-breakpoints.until(raw-breakpoints.$tabletMin) {
  .textContainer {
    max-width: 100%;
  }
}

.title {
  color: var(--colors-label-label-primary-900, #121926);

  /* Display md/Semibold */
  font-family: var(--family-body, "Geist variable");
  font-size: var(--Size-Display-md, 36px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-Display-md, 44px); /* 122.222% */
  letter-spacing: -0.72px;
}

.description {
  color: var(--colors-label-label-secondary-500, #697586);

  /* Text base/Normal */
  font-family: var(--family-body, "Geist variable");
  font-size: var(--Size-Text-base, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-height-Text-base, 24px); /* 150% */
}

.illustrationContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

@include raw-breakpoints.until(raw-breakpoints.$tabletMin) {
  .illustrationContainer {
    position: absolute;
    width: 100%;
    height: calc(var(--mobile-illustration-height) + 40px);
  }
}

/**
 * We can't use a mask with a linear gradient, otherwise the mix-blend-mode won't work
 *
 * So instead we create 4 elements to fade the illustration
 */
.illustrationBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
}

.illustrationTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
}

.illustrationLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.illustrationRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
}

.illustrationFades {
  position: absolute;

  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%) scale(3) rotate(11.529deg);
  opacity: 0.36;
  mix-blend-mode: color-burn;
  z-index: 0;
  background: linear-gradient(
    292deg,
    rgba(0, 36, 255, 0) 0%,
    rgba(0, 36, 255, 1) 100%
  );
}

.illustration {
  // Overlay blend mode
  height: 100%;
  width: 100%;
}
