@import "../styles/utils";
@import "../styles/vars";
@import "../styles/font-styles";

.header {
  @include headline_02_mobile();
  margin-top: $mobileTop;
  margin-bottom: 24px;
  color: var(--highEmphasis);

  @include forDesktop() {
    @include headline_02();
    margin-top: $desktopTop;
    margin-bottom: 48px;
  }
}

.cardList {
  display: grid;
  grid-gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;

  @include forDesktop() {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  padding: 32px 24px 24px;
  border-radius: 8px;
  border: 1px solid var(--on_surface_01);
  display: flex;
  flex-direction: column;
}

.cardTitle {
  @include headline_04_mobile();
  margin-top: 8px;
  color: var(--highEmphasis);

  @include forDesktop() {
    @include headline_04();
    margin-top: 8px;
  }
}

.cardType {
  @include overline_01();
  order: -1;
  text-transform: uppercase;
  color: var(--mediumEmphasis);
}

.cardDesc {
  @include body_02();
  margin-top: 4px;
  margin-bottom: 16px;
  color: var(--mediumEmphasis);
}

.cardLink {
  padding: 8px !important;
  width: fit-content;
  margin-left: -8px !important;
  border-radius: 8px !important;

  > a {
    @include callout_01();
    text-decoration: none;
    color: var(--primary);
  }
}
