@import "../styles/utils";
@import "../styles/vars";
@import "../styles/font-styles";

.header {
  @include headline_06;
  margin-top: $mobileTop;
  margin-bottom: $mobileTop;

  @include forDesktop() {
    @include headline_02;
    margin-top: $desktopTop;
    margin-bottom: $desktopTop;
  }
}
