@import "../styles/font-styles";
@import "../styles/utils";
@import "../styles/vars";

.relativeContainer {
  position: relative;
}

.headingContainer {
  background: var(--primary);
  overflow: hidden;
  position: relative;
}

.headingContents {
  padding-bottom: 50px;
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding-left: $mobilePadding;
  padding-right: $mobilePadding;

  @include forDesktop() {
    padding-bottom: 240px;
    padding-left: $desktopPadding;
    padding-right: $desktopPadding;
  }
}

.headingBodyContainer {
  max-width: 456px;

  margin-top: 24px;
  position: relative;
  z-index: 1;

  @include forDesktop() {
    margin-top: 96px;
  }
}

.headingTitle {
  @include headline_02_mobile();
  color: var(--base);

  @include forDesktop() {
    @include headline_02();
  }
}

.headingBody {
  @include body_01();
  color: var(--base);
  margin-top: 8px;
  margin-bottom: 24px;
}

.mainButton {
  @include callout_01();
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;

  > svg {
    margin-left: 4px;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.meetButton {
  color: var(--primary);
  background: var(--base);
}

.contributionsButton {
  color: var(--base);
  background: var(--primary);
  display: inline-block;
}

.mainContents {
  position: relative;
  z-index: 1;
  margin-bottom: 10rem;
}

.contributingHeader {
  @include headline_02_mobile();
  color: var(--highEmphesis);

  @include forDesktop() {
    @include headline_02();
  }
}

.contributingBody {
  @include body_01();
  color: var(--mediumEmphesis);
  margin-top: 8px;
  margin-bottom: 24px;
  max-width: 465px;
}
