---
import OceanbitBgLogo from "../components/oceanbit-bg-logo.astro";
import Header from "../components/header/header.astro";
import Layout from "../components/layout.astro";
---

<Layout>
  <Header />
  <div
    style="position: absolute; top: -200px; left: 50%; transform: translateX(-50%); width: 72vw; max-width: 1172px; z-index: -1"
  >
    <OceanbitBgLogo strokeWidth={2} />
  </div>
</Layout>
