---
import Header from "../components/header/header.astro";
import Layout from "../components/layout.astro";
import Hero from "../components/hero/hero.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <div style="margin-bottom: 5rem"></div>
  </main>
</Layout>
