---
import OceanbitBgLogo from "../components/oceanbit-bg-logo.astro";
import Header from "../components/header/header.astro";
import Layout from "../components/layout.astro";
---

<Layout>
  <div id="portal-injection-site"></div>
  <Header />
</Layout>
