---
import OceanbitBgLogo from "../components/oceanbit-bg-logo.astro";
import Header from "../components/header/header.astro";
import Layout from "../components/layout.astro";
import Performance from "../components/metrics/performance.astro";
---

<Layout>
  <div id="portal-injection-site"></div>
  <Header />
  <main style="padding: 2rem">
    <Performance />
  </main>
</Layout>
