@import "../../styles/font-styles";
@import "../../styles/utils";
@import "../../styles/vars";

.announcementContainer {
  @include body_02();
  display: flex;
  filter: drop-shadow(0px 1px 1px #1A42E6);
  color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.learnMoreButton {
  @include caption_02();
  display: flex;
  background: none;
  border: none;
  flex-wrap: nowrap;
  justify-content: center;
  color: inherit;
  margin-left: 8px;
  cursor: pointer;
}

.learnMoreIcon {
  height: 1rem;
  width: 1rem;
}
