<header class="container">
  <div class="logoContainer">
    <img src="/logo.svg" alt="An ocean wave contained in an invisible box" />
    <span class="logoText">OceanBit</span>
  </div>
  <div></div>
  <div style="display: flex; justify-content: end">
    <button>Contact us</button>
  </div>
</header>

<style>
  .container {
    padding: 12px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .logoContainer {
    display: inline-flex;
    align-items: center;
  }

  .logoText {
    font-family: Epilogue, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0px 0px 0px 8px;
  }
</style>
