<header class="container">
  <div>
      OceanBit Logo
  </div>
    <div>

    </div>
    <div style="display: flex; justify-content: end">
    <button>Contact us</button>
    </div>
</header>

<style>
    .container {
        padding: 12px 32px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
</style>
