---
import HeaderDropdown from "./header-dropdown.astro";
import ObButton from "../ob-button-v1/ob-button.astro";
---

<header class="container">
  <div class="logoContainer">
    <img
      class="logo"
      src="/logo.svg"
      alt="An ocean wave contained in an invisible box"
    />
    <span class="logoText">OceanBit</span>
  </div>
  <div class="centerArea">
    <nav class="navContainer">
      <HeaderDropdown title="Solutions" dataOpen="solutions-templ">
        <p style="width: 100px">Test</p>
      </HeaderDropdown>
      <HeaderDropdown title="Projects" dataOpen="projects-templ">
        <p style="width: 900px">Test</p>
      </HeaderDropdown>
      <button class="">About us</button>
    </nav>
  </div>
  <div class="rightArea">
    <ObButton>Book a call ></ObButton>
  </div>
</header>

<script src="./dropdown-script.ts"></script>

<style>
  .container {
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .centerArea {
    display: flex;
    justify-content: center;
  }

  .rightArea {
    display: flex;
    justify-content: end;
  }

  .logoContainer {
    display: inline-flex;
    align-items: center;
  }

  .logo {
    height: 30px;
    width: 30px;
  }

  .logoText {
    font-family: Epilogue, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 6px;
  }

  .navContainer {
    display: inline-flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    border: 1px solid #d0d5dd;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
  }
</style>
