$colors-base-white: rgba(255, 255, 255, 1);
$colors-base-black: rgba(0, 0, 0, 1);
$colors-base-transparent: rgb(255, 255, 255);

$colors-blue-dark-25: rgba(245, 248, 255, 1);
$colors-blue-dark-50: rgba(239, 244, 255, 1);
$colors-blue-dark-100: rgba(209, 224, 255, 1);
$colors-blue-dark-200: rgba(178, 204, 255, 1);
$colors-blue-dark-300: rgba(132, 173, 255, 1);
$colors-blue-dark-400: rgba(82, 139, 255, 1);
$colors-blue-dark-500: rgba(41, 112, 255, 1);
$colors-blue-dark-600: rgba(21, 94, 239, 1);
$colors-blue-dark-700: rgba(0, 78, 235, 1);
$colors-blue-dark-800: rgba(0, 64, 193, 1);
$colors-blue-dark-900: rgba(0, 53, 158, 1);
$colors-blue-dark-950: rgba(0, 34, 102, 1);

$colors-blue-light-25: rgba(245, 251, 255, 1);
$colors-blue-light-50: rgba(240, 249, 255, 1);
$colors-blue-light-100: rgba(224, 242, 254, 1);
$colors-blue-light-200: rgba(185, 230, 254, 1);
$colors-blue-light-300: rgba(124, 212, 253, 1);
$colors-blue-light-400: rgba(54, 191, 250, 1);
$colors-blue-light-500: rgba(11, 165, 236, 1);
$colors-blue-light-600: rgba(0, 134, 201, 1);
$colors-blue-light-700: rgba(2, 106, 162, 1);
$colors-blue-light-800: rgba(6, 89, 134, 1);
$colors-blue-light-900: rgba(11, 74, 111, 1);
$colors-blue-light-950: rgba(6, 44, 65, 1);

$colors-blue-25: rgba(242, 247, 255, 1);
$colors-blue-50: rgba(245, 250, 255, 1);
$colors-blue-100: rgba(231, 240, 255, 1);
$colors-blue-200: rgba(203, 223, 255, 1);
$colors-blue-300: rgba(172, 205, 255, 1);
$colors-blue-400: rgba(133, 186, 255, 1);
$colors-blue-500: rgba(0, 152, 255, 1);
$colors-blue-600: rgba(0, 145, 243, 1);
$colors-blue-700: rgba(0, 130, 218, 1);
$colors-blue-800: rgba(0, 112, 188, 1);
$colors-blue-900: rgba(0, 92, 154, 1);
$colors-blue-950: rgba(0, 65, 109, 1);

$colors-cyan-50: rgba(236, 253, 255, 1);
$colors-cyan-100: rgba(207, 249, 254, 1);
$colors-cyan-200: rgba(165, 240, 252, 1);
$colors-cyan-300: rgba(103, 227, 249, 1);
$colors-cyan-400: rgba(34, 204, 238, 1);
$colors-cyan-500: rgba(6, 174, 212, 1);
$colors-cyan-600: rgba(8, 138, 178, 1);
$colors-cyan-700: rgba(14, 112, 144, 1);
$colors-cyan-800: rgba(21, 91, 117, 1);
$colors-cyan-900: rgba(22, 76, 99, 1);
$colors-cyan-950: rgba(13, 45, 58, 1);
$colors-cyan-25: rgba(245, 254, 255, 1);

$colors-error-25: rgba(255, 251, 250, 1);
$colors-error-50: rgba(254, 243, 242, 1);
$colors-error-100: rgba(254, 228, 226, 1);
$colors-error-200: rgba(254, 205, 202, 1);
$colors-error-300: rgba(253, 162, 155, 1);
$colors-error-400: rgba(249, 112, 102, 1);
$colors-error-500: rgba(240, 68, 56, 1);
$colors-error-600: rgba(217, 45, 32, 1);
$colors-error-700: rgba(180, 35, 24, 1);
$colors-error-800: rgba(145, 32, 24, 1);
$colors-error-900: rgba(122, 39, 26, 1);
$colors-error-950: rgba(85, 22, 12, 1);

$colors-fuchsia-25: rgba(254, 250, 255, 1);
$colors-fuchsia-50: rgba(253, 244, 255, 1);
$colors-fuchsia-100: rgba(251, 232, 255, 1);
$colors-fuchsia-200: rgba(246, 208, 254, 1);
$colors-fuchsia-300: rgba(238, 170, 253, 1);
$colors-fuchsia-400: rgba(228, 120, 250, 1);
$colors-fuchsia-500: rgba(212, 68, 241, 1);
$colors-fuchsia-600: rgba(186, 36, 213, 1);
$colors-fuchsia-700: rgba(159, 26, 177, 1);
$colors-fuchsia-800: rgba(130, 24, 144, 1);
$colors-fuchsia-900: rgba(111, 24, 119, 1);
$colors-fuchsia-950: rgba(71, 16, 76, 1);

$colors-gray__buck-50: rgba(133, 133, 140, 1);
$colors-gray__buck-100: rgba(110, 110, 119, 1);
$colors-gray__buck-200: rgba(95, 95, 105, 1);
$colors-gray__buck-300: rgba(82, 82, 90, 1);
$colors-gray__buck-400: rgba(68, 68, 75, 1);
$colors-gray__buck-500: rgba(60, 60, 67, 1);
$colors-gray__buck-600: rgba(41, 41, 46, 1);
$colors-gray__buck-700: rgba(36, 36, 39, 1);
$colors-gray__buck-800: rgba(24, 24, 27, 1);
$colors-gray__buck-900: rgba(17, 17, 19, 1);
$colors-gray__buck-950: rgba(10, 10, 11, 1);

$colors-gray__dark-mode-alpha-25: rgba(255, 255, 255, 0.98);
$colors-gray__dark-mode-alpha-50: rgba(255, 255, 255, 0.96);
$colors-gray__dark-mode-alpha-100: rgba(255, 255, 255, 0.94);
$colors-gray__dark-mode-alpha-200: rgba(255, 255, 255, 0.92);
$colors-gray__dark-mode-alpha-300: rgba(255, 255, 255, 0.8);
$colors-gray__dark-mode-alpha-400: rgba(255, 255, 255, 0.56);
$colors-gray__dark-mode-alpha-500: rgba(255, 255, 255, 0.5);
$colors-gray__dark-mode-alpha-600: rgba(255, 255, 255, 0.35);
$colors-gray__dark-mode-alpha-700: rgba(255, 255, 255, 0.16);
$colors-gray__dark-mode-alpha-800: rgba(255, 255, 255, 0.08);
$colors-gray__dark-mode-alpha-900: rgba(255, 255, 255, 0.04);
$colors-gray__dark-mode-alpha-950: rgb(255, 255, 255);

$colors-gray__dark-mode-25: rgba(250, 250, 250, 1);
$colors-gray__dark-mode-50: rgba(245, 245, 246, 1);
$colors-gray__dark-mode-100: rgba(240, 241, 241, 1);
$colors-gray__dark-mode-200: rgba(236, 236, 237, 1);
$colors-gray__dark-mode-300: rgba(206, 207, 210, 1);
$colors-gray__dark-mode-400: rgba(148, 150, 156, 1);
$colors-gray__dark-mode-500: rgba(133, 136, 142, 1);
$colors-gray__dark-mode-600: rgba(97, 100, 108, 1);
$colors-gray__dark-mode-700: rgba(51, 55, 65, 1);
$colors-gray__dark-mode-800: rgba(31, 36, 47, 1);
$colors-gray__dark-mode-900: rgba(22, 27, 38, 1);
$colors-gray__dark-mode-950: rgba(12, 17, 29, 1);

/* Aliases  */
$colors-gray-blue-25: rgba(252, 252, 253, 1);
$colors-gray-blue-50: rgba(248, 249, 252, 1);
$colors-gray-blue-100: rgba(234, 236, 245, 1);
$colors-gray-blue-200: rgba(213, 217, 235, 1);
$colors-gray-blue-300: rgba(179, 184, 219, 1);
$colors-gray-blue-400: rgba(113, 123, 188, 1);
$colors-gray-blue-500: rgba(78, 91, 166, 1);
$colors-gray-blue-600: rgba(62, 71, 132, 1);
$colors-gray-blue-700: rgba(54, 63, 114, 1);
$colors-gray-blue-800: rgba(41, 48, 86, 1);
$colors-gray-blue-900: rgba(16, 19, 35, 1);
$colors-gray-blue-950: rgba(13, 15, 28, 1);

$colors-gray-cool-25: rgba(252, 252, 253, 1);
$colors-gray-cool-50: rgba(249, 249, 251, 1);
$colors-gray-cool-100: rgba(239, 241, 245, 1);
$colors-gray-cool-200: rgba(220, 223, 234, 1);
$colors-gray-cool-300: rgba(185, 192, 212, 1);
$colors-gray-cool-400: rgba(125, 137, 176, 1);
$colors-gray-cool-500: rgba(93, 107, 152, 1);
$colors-gray-cool-600: rgba(74, 85, 120, 1);
$colors-gray-cool-700: rgba(64, 73, 104, 1);
$colors-gray-cool-800: rgba(48, 55, 79, 1);
$colors-gray-cool-900: rgba(17, 19, 34, 1);
$colors-gray-cool-950: rgba(14, 16, 27, 1);

$colors-gray-iron-25: rgba(252, 252, 252, 1);
$colors-gray-iron-50: rgba(250, 250, 250, 1);
$colors-gray-iron-100: rgba(244, 244, 245, 1);
$colors-gray-iron-200: rgba(228, 228, 231, 1);
$colors-gray-iron-300: rgba(209, 209, 214, 1);
$colors-gray-iron-400: rgba(160, 160, 171, 1);
$colors-gray-iron-500: rgba(112, 112, 123, 1);
$colors-gray-iron-600: rgba(81, 82, 92, 1);
$colors-gray-iron-700: rgba(63, 63, 70, 1);
$colors-gray-iron-800: rgba(38, 39, 43, 1);
$colors-gray-iron-900: rgba(26, 26, 30, 1);
$colors-gray-iron-950: rgba(19, 19, 22, 1);

$colors-gray-modern-25: rgba(252, 252, 253, 1);
$colors-gray-modern-50: rgba(248, 250, 252, 1);
$colors-gray-modern-100: rgba(238, 242, 246, 1);
$colors-gray-modern-200: rgba(227, 232, 239, 1);
$colors-gray-modern-300: rgba(205, 213, 223, 1);
$colors-gray-modern-400: rgba(154, 164, 178, 1);
$colors-gray-modern-500: rgba(105, 117, 134, 1);
$colors-gray-modern-600: rgba(75, 85, 101, 1);
$colors-gray-modern-700: rgba(54, 65, 82, 1);
$colors-gray-modern-800: rgba(32, 41, 57, 1);
$colors-gray-modern-900: rgba(18, 25, 38, 1);
$colors-gray-modern-950: rgba(13, 18, 28, 1);

$colors-gray-neutral-25: rgba(252, 252, 253, 1);
$colors-gray-neutral-50: rgba(249, 250, 251, 1);
$colors-gray-neutral-100: rgba(243, 244, 246, 1);
$colors-gray-neutral-200: rgba(229, 231, 235, 1);
$colors-gray-neutral-300: rgba(210, 214, 219, 1);
$colors-gray-neutral-400: rgba(157, 164, 174, 1);
$colors-gray-neutral-500: rgba(108, 115, 127, 1);
$colors-gray-neutral-600: rgba(77, 87, 97, 1);
$colors-gray-neutral-700: rgba(56, 66, 80, 1);
$colors-gray-neutral-800: rgba(31, 42, 55, 1);
$colors-gray-neutral-900: rgba(17, 25, 39, 1);
$colors-gray-neutral-950: rgba(13, 18, 28, 1);

$colors-gray-old__light-mode-25: rgba(252, 252, 253, 1);
$colors-gray-old__light-mode-50: rgba(249, 250, 251, 1);
$colors-gray-old__light-mode-100: rgba(242, 244, 247, 1);
$colors-gray-old__light-mode-200: rgba(234, 236, 240, 1);
$colors-gray-old__light-mode-300: rgba(208, 213, 221, 1);
$colors-gray-old__light-mode-400: rgba(152, 162, 179, 1);
$colors-gray-old__light-mode-500: rgba(102, 112, 133, 1);
$colors-gray-old__light-mode-600: rgba(71, 84, 103, 1);
$colors-gray-old__light-mode-700: rgba(52, 64, 84, 1);
$colors-gray-old__light-mode-800: rgba(24, 34, 48, 1);
$colors-gray-old__light-mode-900: rgba(16, 24, 40, 1);
$colors-gray-old__light-mode-950: rgba(12, 17, 29, 1);

$colors-gray-true-25: rgba(252, 252, 252, 1);
$colors-gray-true-50: rgba(250, 250, 250, 1);
$colors-gray-true-100: rgba(245, 245, 245, 1);
$colors-gray-true-200: rgba(229, 229, 229, 1);
$colors-gray-true-300: rgba(214, 214, 214, 1);
$colors-gray-true-400: rgba(163, 163, 163, 1);
$colors-gray-true-500: rgba(115, 115, 115, 1);
$colors-gray-true-600: rgba(82, 82, 82, 1);
$colors-gray-true-700: rgba(66, 66, 66, 1);
$colors-gray-true-800: rgba(41, 41, 41, 1);
$colors-gray-true-900: rgba(20, 20, 20, 1);
$colors-gray-true-950: rgba(15, 15, 15, 1);

$colors-gray-warm-25: rgba(253, 253, 252, 1);
$colors-gray-warm-50: rgba(250, 250, 249, 1);
$colors-gray-warm-100: rgba(245, 245, 244, 1);
$colors-gray-warm-200: rgba(231, 229, 228, 1);
$colors-gray-warm-300: rgba(215, 211, 208, 1);
$colors-gray-warm-400: rgba(169, 162, 157, 1);
$colors-gray-warm-500: rgba(121, 113, 107, 1);
$colors-gray-warm-600: rgba(87, 83, 78, 1);
$colors-gray-warm-700: rgba(68, 64, 60, 1);
$colors-gray-warm-800: rgba(41, 37, 36, 1);
$colors-gray-warm-900: rgba(28, 25, 23, 1);
$colors-gray-warm-950: rgba(23, 20, 18, 1);

$colors-green-light-25: rgba(250, 254, 245, 1);
$colors-green-light-50: rgba(243, 254, 231, 1);
$colors-green-light-100: rgba(227, 251, 204, 1);
$colors-green-light-200: rgba(208, 248, 171, 1);
$colors-green-light-300: rgba(166, 239, 103, 1);
$colors-green-light-400: rgba(133, 225, 58, 1);
$colors-green-light-500: rgba(102, 198, 28, 1);
$colors-green-light-600: rgba(76, 163, 13, 1);
$colors-green-light-700: rgba(59, 124, 15, 1);
$colors-green-light-800: rgba(50, 98, 18, 1);
$colors-green-light-900: rgba(43, 83, 20, 1);
$colors-green-light-950: rgba(21, 41, 10, 1);

$colors-green-25: rgba(246, 254, 249, 1);
$colors-green-50: rgba(237, 252, 242, 1);
$colors-green-100: rgba(211, 248, 223, 1);
$colors-green-200: rgba(170, 240, 196, 1);
$colors-green-300: rgba(115, 226, 163, 1);
$colors-green-400: rgba(60, 203, 127, 1);
$colors-green-500: rgba(22, 179, 100, 1);
$colors-green-600: rgba(9, 146, 80, 1);
$colors-green-700: rgba(8, 116, 67, 1);
$colors-green-800: rgba(9, 92, 55, 1);
$colors-green-900: rgba(8, 76, 46, 1);
$colors-green-950: rgba(5, 46, 28, 1);

$colors-indigo-25: rgba(245, 248, 255, 1);
$colors-indigo-50: rgba(238, 244, 255, 1);
$colors-indigo-100: rgba(224, 234, 255, 1);
$colors-indigo-200: rgba(199, 215, 254, 1);
$colors-indigo-300: rgba(164, 188, 253, 1);
$colors-indigo-400: rgba(128, 152, 249, 1);
$colors-indigo-500: rgba(97, 114, 243, 1);
$colors-indigo-600: rgba(68, 76, 231, 1);
$colors-indigo-700: rgba(53, 56, 205, 1);
$colors-indigo-800: rgba(45, 49, 166, 1);
$colors-indigo-900: rgba(45, 50, 130, 1);
$colors-indigo-950: rgba(31, 35, 91, 1);

$colors-moss-25: rgba(250, 253, 247, 1);
$colors-moss-50: rgba(245, 251, 238, 1);
$colors-moss-100: rgba(230, 244, 215, 1);
$colors-moss-200: rgba(206, 234, 176, 1);
$colors-moss-300: rgba(172, 220, 121, 1);
$colors-moss-400: rgba(134, 203, 60, 1);
$colors-moss-500: rgba(102, 159, 42, 1);
$colors-moss-600: rgba(79, 122, 33, 1);
$colors-moss-700: rgba(63, 98, 26, 1);
$colors-moss-800: rgba(51, 80, 21, 1);
$colors-moss-900: rgba(43, 66, 18, 1);
$colors-moss-950: rgba(26, 40, 11, 1);

$colors-orange-dark-25: rgba(255, 249, 245, 1);
$colors-orange-dark-50: rgba(255, 244, 237, 1);
$colors-orange-dark-100: rgba(255, 230, 213, 1);
$colors-orange-dark-200: rgba(255, 214, 174, 1);
$colors-orange-dark-300: rgba(255, 156, 102, 1);
$colors-orange-dark-400: rgba(255, 105, 46, 1);
$colors-orange-dark-500: rgba(255, 68, 5, 1);
$colors-orange-dark-600: rgba(230, 46, 5, 1);
$colors-orange-dark-700: rgba(188, 27, 6, 1);
$colors-orange-dark-800: rgba(151, 24, 12, 1);
$colors-orange-dark-900: rgba(119, 26, 13, 1);
$colors-orange-dark-950: rgba(87, 19, 10, 1);

$colors-orange-25: rgba(254, 250, 245, 1);
$colors-orange-50: rgba(254, 246, 238, 1);
$colors-orange-100: rgba(253, 234, 215, 1);
$colors-orange-200: rgba(249, 219, 175, 1);
$colors-orange-300: rgba(247, 178, 122, 1);
$colors-orange-400: rgba(243, 135, 68, 1);
$colors-orange-500: rgba(239, 104, 32, 1);
$colors-orange-600: rgba(224, 79, 22, 1);
$colors-orange-700: rgba(185, 56, 21, 1);
$colors-orange-800: rgba(147, 47, 25, 1);
$colors-orange-900: rgba(119, 41, 23, 1);
$colors-orange-950: rgba(81, 28, 16, 1);

$colors-pink-25: rgba(254, 246, 251, 1);
$colors-pink-50: rgba(253, 242, 250, 1);
$colors-pink-100: rgba(252, 231, 246, 1);
$colors-pink-200: rgba(252, 206, 238, 1);
$colors-pink-300: rgba(250, 167, 224, 1);
$colors-pink-400: rgba(246, 112, 199, 1);
$colors-pink-500: rgba(238, 70, 188, 1);
$colors-pink-600: rgba(221, 37, 144, 1);
$colors-pink-700: rgba(193, 21, 116, 1);
$colors-pink-800: rgba(158, 22, 95, 1);
$colors-pink-900: rgba(133, 22, 81, 1);
$colors-pink-950: rgba(78, 13, 48, 1);

$colors-purple-25: rgba(250, 250, 255, 1);
$colors-purple-50: rgba(244, 243, 255, 1);
$colors-purple-100: rgba(235, 233, 254, 1);
$colors-purple-200: rgba(217, 214, 254, 1);
$colors-purple-300: rgba(189, 180, 254, 1);
$colors-purple-400: rgba(155, 138, 251, 1);
$colors-purple-500: rgba(122, 90, 248, 1);
$colors-purple-600: rgba(105, 56, 239, 1);
$colors-purple-700: rgba(89, 37, 220, 1);
$colors-purple-800: rgba(74, 31, 184, 1);
$colors-purple-900: rgba(62, 28, 150, 1);
$colors-purple-950: rgba(39, 17, 95, 1);

$colors-rosé-25: rgba(255, 245, 246, 1);
$colors-rosé-50: rgba(255, 241, 243, 1);
$colors-rosé-100: rgba(255, 228, 232, 1);
$colors-rosé-200: rgba(254, 205, 214, 1);
$colors-rosé-300: rgba(254, 163, 180, 1);
$colors-rosé-400: rgba(253, 111, 142, 1);
$colors-rosé-500: rgba(246, 61, 104, 1);
$colors-rosé-600: rgba(227, 27, 84, 1);
$colors-rosé-700: rgba(192, 16, 72, 1);
$colors-rosé-800: rgba(161, 16, 67, 1);
$colors-rosé-900: rgba(137, 18, 62, 1);
$colors-rosé-950: rgba(81, 11, 36, 1);

$colors-sky-50: rgba(240, 249, 255, 1);
$colors-sky-100: rgba(224, 242, 254, 1);
$colors-sky-200: rgba(186, 230, 253, 1);
$colors-sky-300: rgba(125, 211, 252, 1);
$colors-sky-400: rgba(56, 189, 248, 1);
$colors-sky-500: rgba(14, 165, 233, 1);
$colors-sky-600: rgba(2, 132, 199, 1);
$colors-sky-700: rgba(3, 105, 161, 1);
$colors-sky-800: rgba(21, 94, 117, 1);
$colors-sky-900: rgba(22, 78, 99, 1);
$colors-sky-950: rgba(8, 51, 68, 1);

$colors-success-25: rgba(246, 254, 249, 1);
$colors-success-50: rgba(236, 253, 243, 1);
$colors-success-100: rgba(220, 250, 230, 1);
$colors-success-200: rgba(171, 239, 198, 1);
$colors-success-300: rgba(117, 224, 167, 1);
$colors-success-400: rgba(71, 205, 137, 1);
$colors-success-500: rgba(23, 178, 106, 1);
$colors-success-600: rgba(7, 148, 85, 1);
$colors-success-700: rgba(6, 118, 71, 1);
$colors-success-800: rgba(8, 93, 58, 1);
$colors-success-900: rgba(7, 77, 49, 1);
$colors-success-950: rgba(5, 51, 33, 1);

$colors-teal-50: rgba(240, 253, 249, 1);
$colors-teal-100: rgba(204, 251, 239, 1);
$colors-teal-200: rgba(153, 246, 224, 1);
$colors-teal-300: rgba(95, 233, 208, 1);
$colors-teal-400: rgba(46, 211, 183, 1);
$colors-teal-500: rgba(21, 183, 158, 1);
$colors-teal-600: rgba(14, 147, 132, 1);
$colors-teal-700: rgba(16, 117, 105, 1);
$colors-teal-800: rgba(18, 93, 86, 1);
$colors-teal-900: rgba(19, 78, 72, 1);
$colors-teal-25: rgba(246, 254, 252, 1);
$colors-teal-950: rgba(10, 41, 38, 1);

$colors-violet-25: rgba(251, 250, 255, 1);
$colors-violet-50: rgba(245, 243, 255, 1);
$colors-violet-100: rgba(236, 233, 254, 1);
$colors-violet-200: rgba(221, 214, 254, 1);
$colors-violet-300: rgba(195, 181, 253, 1);
$colors-violet-400: rgba(164, 138, 251, 1);
$colors-violet-500: rgba(135, 91, 247, 1);
$colors-violet-600: rgba(120, 57, 238, 1);
$colors-violet-700: rgba(105, 39, 218, 1);
$colors-violet-800: rgba(87, 32, 183, 1);
$colors-violet-900: rgba(73, 28, 150, 1);
$colors-violet-950: rgba(46, 18, 94, 1);

$colors-warning-25: rgba(255, 252, 245, 1);
$colors-warning-50: rgba(255, 250, 235, 1);
$colors-warning-100: rgba(254, 240, 199, 1);
$colors-warning-200: rgba(254, 223, 137, 1);
$colors-warning-300: rgba(254, 200, 75, 1);
$colors-warning-400: rgba(253, 176, 34, 1);
$colors-warning-500: rgba(247, 144, 9, 1);
$colors-warning-600: rgba(220, 104, 3, 1);
$colors-warning-700: rgba(181, 71, 8, 1);
$colors-warning-800: rgba(147, 55, 13, 1);
$colors-warning-900: rgba(122, 46, 14, 1);
$colors-warning-950: rgba(78, 29, 9, 1);

$colors-yellow-25: rgba(254, 253, 240, 1);
$colors-yellow-50: rgba(254, 251, 232, 1);
$colors-yellow-100: rgba(254, 247, 195, 1);
$colors-yellow-400: rgba(250, 197, 21, 1);
$colors-yellow-500: rgba(234, 170, 8, 1);
$colors-yellow-600: rgba(202, 133, 4, 1);
$colors-yellow-700: rgba(161, 92, 7, 1);
$colors-yellow-800: rgba(133, 74, 14, 1);
$colors-yellow-900: rgba(113, 59, 18, 1);
$colors-yellow-950: rgba(84, 44, 13, 1);
$colors-yellow-200: rgba(254, 238, 149, 1);
$colors-yellow-300: rgba(253, 226, 114, 1);

/* Aliases  */

$colors-brand-25: var($colors-blue-25);
$colors-brand-50: var($colors-blue-50);
$colors-brand-100: var($colors-blue-100);
$colors-brand-200: var($colors-blue-200);
$colors-brand-300: var($colors-blue-300);
$colors-brand-400: var($colors-blue-400);
$colors-brand-500: var($colors-blue-500);
$colors-brand-600: var($colors-blue-600);
$colors-brand-700: var($colors-blue-700);
$colors-brand-800: var($colors-blue-800);
$colors-brand-900: var($colors-blue-900);
$colors-brand-950: var($colors-blue-950);

$colors-gray__light-mode-25: var($colors-gray-modern-25);
$colors-gray__light-mode-50: var($colors-gray-modern-50);
$colors-gray__light-mode-100: var($colors-gray-modern-100);
$colors-gray__light-mode-200: var($colors-gray-modern-200);
$colors-gray__light-mode-300: var($colors-gray-modern-300);
$colors-gray__light-mode-400: var($colors-gray-modern-400);
$colors-gray__light-mode-500: var($colors-gray-modern-500);
$colors-gray__light-mode-600: var($colors-gray-modern-600);
$colors-gray__light-mode-700: var($colors-gray-modern-700);
$colors-gray__light-mode-800: var($colors-gray-modern-800);
$colors-gray__light-mode-900: var($colors-gray-modern-900);
$colors-gray__light-mode-950: var($colors-gray-modern-950);
