<div class="container">
  <img class="core" src="/illustrations/core.svg" alt="" />
</div>

<style>
  .container {
    display: flex;
    margin-top: calc(0px - var(--spacing-xl) - var(--radius-4xl));
    justify-content: center;
  }

  .core {
    background: linear-gradient(90deg, transparent, white, transparent);
    // 54px is the padding on the SVG itself to add the shadow
    width: calc(144px + 54px);
  }
</style>
