<button>
  <slot />
</button>

<style>
  button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    border-radius: var(--radius-full, 9999px);
    border: 2px solid rgba(16, 24, 40, 0.18);
    background: var(
      --component-colors-components-buttons-primary-button-primary-bg,
      #0098ff
    );

    box-shadow:
      0px 0px 0px 1px rgba(255, 255, 255, 0.12) inset,
      0px 1px 1px -0.5px rgba(42, 51, 69, 0.04),
      0px 3px 3px -1.5px rgba(42, 51, 70, 0.04),
      0px 6px 6px -3px rgba(0, 152, 255, 0.16),
      0px 10px 12px -8px rgba(0, 152, 255, 0.2);

    color: var(
      --component-colors-components-buttons-primary-button-primary-fg,
      #fff
    );

    font-family: "Geist variable";
    font-size: var(--size-text-sm, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-text-sm, 20px); /* 142.857% */
  }

  button:hover {
    background: var(
      --component-colors-components-buttons-primary-button-primary-bg_hover,
      #0091f3
    );
  }

  button:focus {
    outline: 4px solid rgba(21, 112, 239, 0.24);
  }

  button:disabled {
    border: 1px solid var(--colors-border-border-disabled_subtle, #e3e8ef);
    background: var(--colors-background-bg-disabled, #eef2f6);
    box-shadow: none;
    color: var(--colors-foreground-fg-disabled, #9aa4b2);
  }
</style>
