---
import styles from "./footer.module.scss";
---

<div>
  <img class={styles.oceanBitLogo} src="/logo-clay.svg" />
  <div class={styles.contentContainer}>
    <div class={styles.contentContainerTop}></div>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
    <p style="margin: 0;">Testing</p>
  </div>
</div>
