---
import styles from "./client-logos.module.scss";
---

<section class={styles.container}>
  <h1 id="driving-growth-client-list" class={styles.heading}>
    Driving growth for tech-industry leaders.
  </h1>
  <ul
    class={styles.list}
    role="list"
    aria-describedby="driving-growth-client-list"
  >
    <li><img height="30" src="/client-logos/astro.svg" alt="Astro" /></li>
    <li><img height="30" src="/client-logos/clerk.svg" alt="Clerk" /></li>
    <li>
      <img
        height="30"
        src="/client-logos/playfulprogramming.svg"
        alt="Playful Programming"
      />
    </li>
    <li><img height="30" src="/client-logos/tanstack.svg" alt="TanStack" /></li>
    <li><img height="30" src="/client-logos/shoelace.svg" alt="Shoelace" /></li>
  </ul>
</section>
