---
import styles from "./client-logos.module.scss";
---

<section class={styles.container}>
  <p id="driving-growth-client-list" class={styles.heading}>
    Driving growth for tech-industry leaders.
  </p>
  <ul
    class={styles.list}
    role="list"
    aria-describedby="driving-growth-client-list"
  >
    <li>
      <a href="https://astro.build/" target="_blank" rel="noopener noreferrer"
        ><img height="30" src="/client-logos/astro.svg" alt="Astro" /></a
      >
    </li>
    <li>
      <a href="https://clerk.com/" target="_blank" rel="noopener noreferrer"
        ><img height="30" src="/client-logos/clerk.svg" alt="Clerk" /></a
      >
    </li>
    <li>
      <a
        href="https://playfulprogramming.com"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          height="30"
          src="/client-logos/playfulprogramming.svg"
          alt="Playful Programming"
        /></a
      >
    </li>
    <li>
      <a href="https://tanstack.com" target="_blank" rel="noopener noreferrer"
        ><img height="30" src="/client-logos/tanstack.svg" alt="TanStack" /></a
      >
    </li>
    <li>
      <a
        href="https://shoelace.style/"
        target="_blank"
        rel="noopener noreferrer"
        ><img height="30" src="/client-logos/shoelace.svg" alt="Shoelace" /></a
      >
    </li>
  </ul>
</section>
